.editor-selector {
    margin-right: 2.5rem;

    .option-item {
        width: 50%;
        display: inline-block;
        padding-bottom: 0.2rem;
        text-align: center;
        font-size: 1rem;
        line-height: 2rem;
        color: $oc-gray-7;
        cursor: pointer;
        transition-timing-function: ease-in-out;
        transition: all .3s;


        &:hover {
            color: $oc-pink-6;
        }

        &.selected {
            font-weight: bold;

        }

        .icon {
            padding-right: 0.5rem;
        }

    }

    &.active {
        .option-item {

            &:hover {
                color: $oc-pink-6;
            }

            &.selected {
                transition-timing-function: ease-in-out;
                transition: all .3s;
                border-bottom: 1px solid $oc-gray-5;
                color: $oc-pink-7;
            }

        }
    }

    // }
}
