.editor-contianer {
    overflow-x: hidden;
    .editor-wrapper {
        margin-top: 1.2rem;
        transition: all 0.5s ease;

        .rich-editor, .url-editor {
            display: none;
            &.active {
                display: block;
            }
        }
    }
    @import 'RichEditor';
    @import 'UrlEditor';

    .footer {
        margin-top: 1rem;
        text-align: right;
    }
}
